/* ---------------------------------------------------------------------------------------------------------------------
Fonts
----------------------------------------------------------------------------------------------------------------------*/


@font-face {
    font-family: 'MontserratUltraLight';
    src: url('../fonts/montserrat-ultralight-webfont.eot');
    src: local('☺'), url('../fonts/montserrat-ultralight-webfont.woff') format('woff'), url('../fonts/montserrat-ultralight-webfont.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: local('☺'), url('../fonts/montserrat-regular-webfont.woff') format('woff'), url('../fonts/montserrat-regular-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratLight';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: local('☺'), url('../fonts/montserrat-light-webfont.woff') format('woff'), url('../fonts/montserrat-light-webfont.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* ---------------------------------------------------------------------------------------------------------------------
Main styles
----------------------------------------------------------------------------------------------------------------------*/

body {
    overflow-x: hidden;
}

/* ---------------------------------------------------------------------------------------------------------------------
Main Container
----------------------------------------------------------------------------------------------------------------------*/
.social {
    margin-top: 165px;
    position: fixed;
    top: 0;
    right: -6px;
    color: #767473;
    font-size: 22px;
    z-index: 1;
}
.social a {
    color: #767473;
}
.social button {
    background-color: #d1d1d2;
    width: 60px;
    height: 60px;
    margin-bottom: 2px;
    border: none;
}
.social-second {
    margin-top: 70px;
    position: fixed;
    top: 0;
    right: -6px;
    color: #767473;
    font-size: 22px;
    z-index: 1;
}
.social-second a {
    color: #767473;
}
.social-second button {
    background-color: #d1d1d2;
    width: 60px;
    height: 60px;
    margin-bottom: 2px;
    border: none;
}
.main-container {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/cover.png') center top no-repeat;
    background-size: cover;
    height: 610px;
    overflow: hidden;
}

.main-container .phone-image-holder {
    margin: 72px 0 0 0;
}

.main-container .phone-image-holder img {
    width: 100%;
}

.main-container .description {
    color: #fff;
    margin-top: 150px;
}

.main-container .description h1 {
    font-family: 'MontserratUltraLight', serif;
    line-height: 72px;
    font-size: 72px;
    letter-spacing: 2px;
}

.main-container .description p {
    font-family: 'MontserratRegular', serif;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 50px;
    margin-top: 55px;
    letter-spacing: 1px;
}

.main-container .store-btn {
    font-family: 'MontserratLight', serif;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 5px;
    border-radius: 40px;
    width: 270px;
    height: 80px;
    font-size: 28px;
    text-align: center;
    border: 2px solid #787878;
}

.main-container .store-btn img {
    padding-right: 25px;
    padding-bottom: 10px;
}

.main-container .store-btn:hover {
    opacity: 0.5;
}

/* ---------------------------------------------------------------------------------------------------------------------
Second Container
----------------------------------------------------------------------------------------------------------------------*/
.second {
    height: 420px;
    background-color: #ffffff;
}

.second .textinfo {
    margin-top: 85px;
    color: #00050d;
    font-family: 'MontserratLight', serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
}

.second .startbtn {
    padding: 0 24px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: #3693F1;
    color: #fff;
    font-family: 'MontserratRegular', serif;
    font-size: 22px;
    letter-spacing: 2px;
}

.second .learnbtn {
    padding: 0 49px;
    height: 60px;
    border: 2px solid #3693F1;
    border-radius: 30px;
    background-color: #ffffff;
    color: #3693F1;
    font-family: 'MontserratRegular', serif;
    font-size: 22px;
    letter-spacing: 2px;
}

.second .twobutton {
    margin-top: 50px;
}

.second .learnbtn:hover, .second .startbtn:hover {
    opacity: 0.8;
}
/* ---------------------------------------------------------------------------------------------------------------------
Slider container
----------------------------------------------------------------------------------------------------------------------*/
.slider-container {
    width: 100%;
    height: 400px;
    background: url('../images/blurred_bg.jpg') no-repeat center top;
    background-size: cover;
}

.slider-container .features img {
    width: 135px;
    margin-top: 60px;
}
.slider-container .features p {
    margin-top: 20px;
    font-size: 26px;
    font-family: 'MontserratLight', serif;
}
.slider-container .features hr {
    height: 2px;
    background-color: #bebdbc;
    border: none;
}
/* ---------------------------------------------------------------------------------------------------------------------
Footer container
----------------------------------------------------------------------------------------------------------------------*/
footer {
    height: 240px;
    background-color: #172026;
}
footer h1 {
    color: #ffffff;
    font-family: 'MontserratUltraLight', serif;
    font-size: 50px;
    letter-spacing: 2px;
    margin-top: 45px;
    border-bottom: 1px solid #474d51;
    padding-bottom: 24px;
}
footer .footer-navbar ul li.first a {
    list-style: none;
    color: #ff6800;
}
footer .footer-navbar ul li {
    list-style: none;
    display: inline-block;
    font-size: 22px;
    font-family: 'MontserratLight', serif;
    padding-right: 6%;
}
footer .footer-navbar ul li a:hover {
    color: #ff6800;
}
footer .footer-navbar ul {
    margin-left: -6%;
    margin-top: 40px;
}
footer .footer-navbar a {
    text-decoration: none;
    color: #3693f1 ;
}
footer .downbtn {
    margin-top: 25px;
}
footer .downbtn h2 {
    text-align: center;
    font-family: 'MontserratLight', serif;
    font-size: 16px;
    letter-spacing: 2px;
    color: #8e8f8f;
    margin-top: 48px;
    margin-bottom: 10%;
}
footer .smallbtn {
    color: #fff;
    font-family: 'MontserratLight', serif;
    background-color: #172026;
    padding: 5px 5px;
    border-radius: 40px;
    width: 270px;
    height: 59px;
    font-size: 26px;
    text-align: center;
    border: 2px solid #787878;
}
footer .smallbtn img {
    padding-right: 25px;
    padding-bottom: 6px;
}
footer .smallbtn:hover {
    opacity: 0.5;
}
/* ---------------------------------------------------------------------------------------------------------------------
Support Page Styles
----------------------------------------------------------------------------------------------------------------------*/
.home-btn {
    width: 100%;
}
.home {
    background-color: #fff;
    border: none;
    color: #3693f1;
    margin-left: 23px;
    font-family: 'MontserratLight', serif;
    font-size: 24px;
    margin-top: 22px;
    margin-bottom: 20px;
    display: flex;
    display: -moz-box;
    white-space: nowrap;
}
.home img {
    height: 45px;
    padding-right: 12px;
}
.back a {
    margin-top: 5px;
    vertical-align: middle;
    color: #3693f1 !important;
    text-decoration: none !important;
}
.cover-image {
    width: 100%; 
    height: 350px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/cover.png') no-repeat 40% 68%;
    background-size: cover;
}
.image-head h1 {
    color: #fff;
    font-family: 'MontserratUltraLight', serif;
    font-size: 72px;
    margin-top: 11%;
}
div .documentation {
    margin-top: 75px;
}
.documentation h3 {
    font-family: 'MontserratRegular', serif;
    font-size: 20px;
    color: #3693f1;
    margin-bottom: 20px;
}
.documentation p,
.documentation ul {
    font-family: 'MontserratLight', serif;
    font-size: 20px;
    color: #00050d;
    line-height: 30px;
    margin-bottom: -50px;
    font-weight: 100;
}
.questions {
    padding-bottom: 180px;
}
/* ---------------------------------------------------------------------------------------------------------------------
Privacy Policy Styles
----------------------------------------------------------------------------------------------------------------------*/
div .intro {
    margin-top: 50px;
    margin-bottom: 40px;
}
.intro h3 {
    font-family: 'MontserratRegular', serif;
    font-size: 20px;
    color: #3693f1;
    margin-bottom: 20px;
}
.intro p {
    font-family: 'MontserratRegular', serif;
    font-size: 22px;
    color: #00050d;
    line-height: 32px;
    margin-bottom: -40px;
}
div .info {
    margin-top: 5px;
}
.info h3 {
    font-family: 'MontserratRegular', serif;
    font-size: 20px;
    color: #3693f1;
    margin-bottom: 25px;
}
.info p {
    font-family: 'MontserratLight', serif;
    font-size: 20px;
    color: #00050d;
    margin-bottom: -40px;
    line-height: 30px;
    font-weight: 100;
    padding-bottom: 60px;
}
.info ul {
    margin-top: -17px;
    font-family: 'MontserratLight', serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    color: #00050d;
}
div .option {
    margin-top: 80px;
    padding-left: 60px;
}
.option h3 {
    font-family: 'MontserratRegular', serif;
    font-size: 20px;
    color: #00050d;
    margin-bottom: 25px;
    margin-top: 0;
    font-weight: normal;
}
.option p {
    font-family: 'MontserratUltraLight', serif;
    font-size: 16px;
    color: #00050d;
    margin-bottom: -50px;
    line-height: 26px;
    font-weight: 600;
}
.introduction {
    padding-bottom: 120px;
}
/* ---------------------------------------------------------------------------------------------------------------------
Media Queries
----------------------------------------------------------------------------------------------------------------------*/

/*
 * Phone XS
 */
@media (max-width: 767px) {
    .social {
        margin-top: 0;
        position: absolute;
        display: flex;
        right: 0;
        left: 0;
    }
    .social a {
        margin-right: 5px;
        width: 100%;
    }
    .social button {
        margin-right: 5px;
        width: 100%;
        height: 40px;
    }
    .social-second {
        margin-top: 65px;
    }
    .social-second button {
        height: 40px;
        width: 40px;
    }
    .main-container {
        text-align: center;
    }
    .main-container .description {
        margin-top: 50px;
    }
    .main-container .description h1 {
        font-size: 50px;
        letter-spacing: 10px;
        margin-top: 30px;
    }
    .main-container .description p {
        font-size: 26px;
        margin-top: 40px;
    }
    .main-container .store-btn {
        height: 70px;
        width: 100%;
    }
    .second .twobutton {
        text-align: center;
    }
    .second .startbtn {
        margin-bottom: 20px;
        font-size: 19px;
    }
    .second {
        height: 100%;
        padding-bottom: 20px;
    }
    .slider-container {
        height: 1070px;
    }
    footer .navigation {
        margin-left: 0;
    }
    footer .navigation h1 {
        text-align: center;
        margin-top: 20px;
    }
    footer .smallbtn {
        text-align: center;
        position: relative;
        bottom: 10px;
        width: 245px;
        height: 50px;
    }
    footer .downbtn {
        margin-top: 0;
    }
    footer {
        height: 470px;
        text-align: center;
    }
    footer .downbtn h2 {
        margin-top: 20px;
    }
    footer .footer-navbar ul li {
        text-align: center;
        display: block;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 800;
    }
    .cover-image {
        height: 260px;
    }
    .home {
        margin: 10px 0;
    }
    /*Support page media Queries*/
    .documentation p,
    .documentation ul {
        text-align: left;
        font-size: 15px;
        line-height: 22px;
    }
    .image-head h1 {
        font-size: 45px;
        margin-top: 28%;
    }
    /*Privacy Policy media Queries*/
    .info p,
    .info ul  {
        text-align: left;
        font-size: 15px;
        font-weight: 100;
        line-height: 22px
    }
    h3 {
        text-align: center;
    }
}
/*
 * Tablet
 */
@media (min-width: 768px) and (max-width: 991px) {
    .main-container  {
        height: 560px;
    }
    .main-container .description {
        margin-top: 40px;
    }
    .main-container .store-btn {
        height: 70px;
        width: 270px;
    }
    .second .startbtn, 
    .second .learnbtn  {
        font-size: 16px;
    }
    .image-head h1 {
        margin-top: 18%;
    }
    footer {
        height: 252px;
    }
    footer .navigation {    
        padding-left: 15px;
    }
    footer .footer-navbar ul li {
        font-size: 18px;
        padding-right: 2%;
    }
    footer .footer-navbar ul {
        padding-left: 15px;
        margin-left: -3%;
        margin-top: 23px;
    }
    footer .downbtn {
        margin-left: 15px;
        margin-top: 26px;
    }
    footer .downbtn h2 {
        margin-left: 50px;
        white-space: nowrap;
        margin-bottom: 30px;
    }
    footer .smallbtn {
        height: 52px;
    }
    .documentation p,
    .documentation ul {
        font-size: 16px;
        line-height: 26px;
        text-align: left;
    }
    .info p,
    .info ul  {
        text-align: left;
        font-size: 16px;
        font-weight: 100;
        line-height: 26px
    }
}

/*
 * Desktop medium
 */
@media (min-width: 992px) and (max-width: 1199px) {
    .main-container .phone-image-holder {
        margin: 172px 0 0 0;
    }
    footer .footer-navbar ul li {
        font-size: 19px;
    }
    footer h1 {
        margin-left: 20px;
        margin-top: 20px;
    }
    footer .downbtn {
        margin-top: 50px;
    }
    footer .downbtn h2 {
        margin-top: 0;
    }
    footer .smallbtn {
        width: 215px;
    }
    footer .footer-navbar ul {
        margin-left: -4%;
    }
}

/*
 * Desktop large
 */
@media (min-width: 1200px) {

}
